
/* Your CSS Code here. */
div.holder{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: 200px;
	height: 200px;
	grid-gap: 5px;
}
.item{
	border: 1px solid black;
	padding: 20px;
	text-align: center;
}